* {
    margin: 0px;
    padding: 0px;
}

.page {
    width: 1200px;
    min-height: 500px;
    background-color: blue;
}

.logo {
    width: 1276px;
    height: 100px;
    background-color: black;
}

.logo a,
h1 {
    text-decoration: none;
    color: brown;
    text-align: center;
    padding-top: 29px;
}

.trai {
    width: 300px;
    height: 500px;
    background-color: brown;
}

.trai .admin {
    padding-top: 15px;
}

.trai .admin .inconadmin {
    float: left;
    margin-left: 38px;
    width: 30px;
    height: 30px;
}

.trai .admin .chuadmin {
    float: left;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.trai .admin .email {
    float: left;
    margin-left: 15px;
    margin-top: 3px
}

.email>a {
    text-decoration: none;
    color: #fff;
}

.email>h4 {
    color: #eee;
    font-family: initial;
}

.chucnang {
    width: 300px;
    min-height: 300px;
    padding-top: 50px;
}

.chucnang .chungtrai {
    width: 300px;
    height: 30px;
    margin-top: 30px;
}

.chucnang .doanhso {
    background-color: white;
}

.chucnang .chungtrai:hover {
    background-color: #eee;
}

.chucnang .chungtrai a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.phai .soluong {
    float: right;
    margin-top: -500px;
    margin-right: 50px;
}

.phai .soluong img {
    width: 705px;
    height: 400px;
}